/node_modules
/public/hot
/public/storage
/public/data/*
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
composer.log
/storage/installed
Vagrantfile.*
Vagrantfile
# Shell script di cPanel > Terminal untuk menyalin folder public ke public_html
copy_public.sh