* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored

/.docker export-ignore
/.git* export-ignore
/stubs export-ignore
/tests export-ignore
/.all-contributorsrc export-ignore
/Agent export-ignore
/docker-compose.yml export-ignore
/package.json export-ignore
/phpcs.xml export-ignore
/.php-cs-fixer.php export-ignore
/phpunit.xml export-ignore
/webpack.mix.js export-ignore
