<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect All Requests To The Subfolder
    RewriteRule ^ public

</IfModule>