<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Architecture">
            <directory suffix="Test.php">./tests/Arch</directory>
        </testsuite>
        <testsuite name="Browser">
            <directory suffix="Test.php">./tests/Browser</directory>
        </testsuite>
        <testsuite name="ApiKey">
            <directory suffix="Test.php">./tests/ApiKey</directory>
        </testsuite>
    </testsuites>
    
    <logging>
        <junit outputFile="build/report.junit.xml"/>
        <teamcity outputFile="build/teamcity.txt"/>
    </logging>
    
    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Console</directory>
            <directory suffix=".php">./app/Http/Middleware</directory>
            <directory suffix=".php">./app/Providers</directory>
        </exclude>
    </source>
    
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_MAINTENANCE_DRIVER" value="file"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_STORE" value="array"/>

        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="JWT_SECRET" value="test_secret_key_for_testing_only_do_not_use_in_production"/>
    </php>
</phpunit>