<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Architecture">
            <directory suffix="Test.php">./tests/Arch</directory>
        </testsuite>
        <testsuite name="Browser">
            <directory suffix="Test.php">./tests/Browser</directory>
        </testsuite>
    </testsuites>
    
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true" pathCoverage="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Console</directory>
            <directory suffix=".php">./app/Http/Middleware</directory>
            <directory suffix=".php">./app/Providers</directory>
            <file>./app/Console/Kernel.php</file>
            <file>./app/Exceptions/Handler.php</file>
            <file>./app/Providers/AppServiceProvider.php</file>
            <file>./app/Providers/AuthServiceProvider.php</file>
            <file>./app/Providers/BroadcastServiceProvider.php</file>
            <file>./app/Providers/EventServiceProvider.php</file>
            <file>./app/Providers/RouteServiceProvider.php</file>
            <file>./app/Providers/HorizonServiceProvider.php</file>
        </exclude>
        <report>
            <html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="build/coverage.txt" showUncoveredFiles="true" showOnlySummary="false"/>
            <clover outputFile="build/logs/clover.xml"/>
            <crap4j outputFile="build/logs/crap4j.xml"/>
            <phpcov outputFile="build/logs/phpcov.cov"/>
        </report>
    </coverage>
    
    <logging>
        <junit outputFile="build/report.junit.xml"/>
        <teamcity outputFile="build/teamcity.txt"/>
    </logging>
    
    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Console</directory>
            <directory suffix=".php">./app/Http/Middleware</directory>
            <directory suffix=".php">./app/Providers</directory>
        </exclude>
    </source>
    
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_MAINTENANCE_DRIVER" value="file"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_STORE" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>