/* @media only screen and (min-width:768px) { */
.swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#swiper-slider {
  height: 450px;
}

.swiper-wrapper {
  width: 400%;
  height: 100%;
  position: relative;
}

.slider-class {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slider-class img {
  width: 100%;
  height: 100%;
}

.slider-class img {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: auto max-height 640px;
}

.legend {
  border: 520px solid transparent;
  border-left: 520px solid rgba(52, 73, 94, 0.7);
  border-bottom: 0;
  position: absolute;
  bottom: 0;
}

.content-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
/* } */

.content-txt {
  width: 300px;
  height: 50px;
  float: left;
  position: relative;
  top: 255px;
}

.content-txt h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #f39c12;
  text-align: left;
  margin-left: 20px;
  padding-bottom: 0px;
  width: 325px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.content-txt h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: italic;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  width: 350px;
  line-height: 16px;
}

.swiper-pagination-bullet-active {
  background: #ff4900 !important;
}

/* Desktop */
@media screen and (max-width: 768px) {
  #slider {
    height: 400px;
  }

  .swiper {
    height: 180px;
  }

  .content-slide {
    width: 23%;
  }

  .content-txt {
    top: 60px;
  }

  .content-txt h1 {
    font-size: 12px;
    width: auto;
  }

  .content-txt h2 {
    font-size: 10px;
    margin-top: 10px;
    width: auto;
    line-height: 18px;
  }

  .legend {
    border: 280px solid transparent;
    border-left: 280px solid rgba(52, 73, 94, 0.7);
    border-bottom: 0;
    position: absolute;
    bottom: 0;
  }
}

.dk-line {
  color: #fff;
  background: #ff4900;
  position: relative;
  padding: 2px 10px;
}